@import url(https://themes.googleusercontent.com/fonts/css?kit=lc_KqZAnJZMO5HHpESLXOyBT44YHZh5XveqtkptPAQM);

@page {
    size: A4;
    margin: 0;
}


ul.lst-kix_qexfuy5qv51n-5 {
    list-style-type: none
}

ul.lst-kix_qexfuy5qv51n-6 {
    list-style-type: none
}

ul.lst-kix_qexfuy5qv51n-3 {
    list-style-type: none
}

ul.lst-kix_qexfuy5qv51n-4 {
    list-style-type: none
}

ul.lst-kix_qexfuy5qv51n-7 {
    list-style-type: none
}

ul.lst-kix_qexfuy5qv51n-8 {
    list-style-type: none
}

.lst-kix_inbyluyipopu-6>li:before {
    content: "\0025cf   "
}

.lst-kix_inbyluyipopu-5>li:before {
    content: "\0025cf   "
}

ul.lst-kix_inbyluyipopu-5 {
    list-style-type: none
}

.lst-kix_qexfuy5qv51n-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_inbyluyipopu-4 {
    list-style-type: none
}

ul.lst-kix_inbyluyipopu-7 {
    list-style-type: none
}

.lst-kix_qexfuy5qv51n-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_inbyluyipopu-6 {
    list-style-type: none
}

.lst-kix_qexfuy5qv51n-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_inbyluyipopu-1 {
    list-style-type: none
}

ul.lst-kix_inbyluyipopu-0 {
    list-style-type: none
}

ul.lst-kix_inbyluyipopu-3 {
    list-style-type: none
}

ul.lst-kix_inbyluyipopu-2 {
    list-style-type: none
}

.lst-kix_inbyluyipopu-7>li:before {
    content: "\0025cf   "
}

.lst-kix_inbyluyipopu-8>li:before {
    content: "\0025cf   "
}

.lst-kix_qexfuy5qv51n-8>li:before {
    content: "\0025a0   "
}

.lst-kix_qexfuy5qv51n-7>li:before {
    content: "\0025cb   "
}

.lst-kix_qexfuy5qv51n-2>li:before {
    content: "\0025a0   "
}

.lst-kix_qexfuy5qv51n-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_inbyluyipopu-8 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_inbyluyipopu-2>li:before {
    content: "\0025cf   "
}

.lst-kix_inbyluyipopu-4>li:before {
    content: "\0025cf   "
}

.lst-kix_inbyluyipopu-3>li:before {
    content: "\0025cf   "
}

.lst-kix_qexfuy5qv51n-1>li:before {
    content: "\0025cb   "
}

.lst-kix_qexfuy5qv51n-0>li:before {
    content: "\002605   "
}

.lst-kix_inbyluyipopu-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_qexfuy5qv51n-1 {
    list-style-type: none
}

ul.lst-kix_qexfuy5qv51n-2 {
    list-style-type: none
}

.lst-kix_inbyluyipopu-1>li:before {
    content: "\0025cf   "
}

ul.lst-kix_qexfuy5qv51n-0 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c46 {
    border-right-style: solid;
    padding: 0pt 5pt 0pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 120.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c14 {
    border-right-style: solid;
    padding: 0pt 5pt 0pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #f2f2f2;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 364.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c9 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #ffffff;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 364.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c53 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 364.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c5 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 120.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c18 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 176.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c19 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 166.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c36 {
    margin-left: 28pt;
    padding-top: 12pt;
    text-indent: -21pt;
    padding-bottom: 8pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: -36pt
}

.c2 {
    margin-left: 4.5pt;
    padding-top: 0pt;
    padding-bottom: 8pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: -14pt
}

.c37 {
    margin-left: 4.5pt;
    padding-top: 12pt;
    padding-bottom: 8pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: -14pt
}

.c42 {
    margin-left: -14pt;
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: -14pt
}

.c38 {
    margin-left: -14pt;
    padding-top: 0pt;
    padding-bottom: 8pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    margin-right: -14pt
}

.c25 {
    margin-left: -14pt;
    padding-top: 12pt;
    padding-bottom: 8pt;
    line-height: 1.1500000000000001;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: -14pt
}

.c43 {
    margin-left: -72pt;
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 0.6;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c47 {
    margin-left: -72pt;
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Spectral";
    font-style: normal
}

.c10 {
    color: #ff0000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Spectral";
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Spectral";
    font-style: normal
}

.c58 {
    margin-left: 4.5pt;
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.5;
    text-align: left;
    margin-right: -9pt
}

.c55 {
    -webkit-text-decoration-skip: none;
    color: #0000ff;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-style: normal
}

.c21 {
    margin-left: 36pt;
    padding-left: 0pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin-right: -14pt
}

.c49 {
    margin-left: -72pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 0.8;
    text-align: left;
    margin-right: -72pt
}

.c30 {
    margin-left: -14pt;
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: center
}

.c12 {
    text-decoration-skip-ink: none;
    font-family: "Spectral";
    -webkit-text-decoration-skip: none;
    font-weight: 700;
    text-decoration: underline
}

.c16 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    text-align: left
}

.c33 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c39 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2;
    text-align: left
}

.c15 {
    background-color: #ffffff;
    font-size: 9pt;
    font-family: "Spectral";
    font-weight: 700
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    text-align: center
}

.c56 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c13 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c44 {
    color: #000000;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
}

.c52 {
    page-break-after: avoid;
    orphans: 2;
    widows: 2
}

.c50 {
    color: #000000;
    vertical-align: baseline;
    font-style: normal
}

.c11 {
    font-size: 10pt;
    font-weight: 700;
    font-family: "Spectral"
}

.c60 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c23 {
    font-weight: 400;
    font-size: 8pt;
    font-family: "Spectral"
}

.c20 {
    font-weight: 400;
    font-size: 11pt;
    font-family: "Arial"
}

.c7 {
    font-size: 10pt;
    font-weight: 400;
    font-family: "Spectral"
}

.c45 {
    font-weight: 400;
    font-size: 11pt;
    font-family: "Spectral"
}

.c61 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c22 {
    font-weight: 700;
    font-size: 11pt;
    font-family: "Spectral"
}

.c26 {
    font-weight: 700;
    font-size: 9pt;
    font-family: "Spectral"
}

.c57 {
    font-size: 9pt;
    font-weight: 400;
    font-family: "Spectral"
}

.c35 {
    font-weight: 700;
    font-family: "Spectral"
}

.c59 {
    padding: 0;
    margin: 0
}

.c32 {
    background-color: #fce5cd
}

.c6 {
    height: 11pt
}

.c31 {
    color: #cc0000
}

.c27 {
    margin-right: -4.5pt
}

.c54 {
    font-size: 8pt
}

.c8 {
    height: 27.8pt
}

.c48 {
    font-size: 12pt
}

.c62 {
    background-color: #ffffff
}

.c17 {
    height: 0pt
}

.c29 {
    height: 27pt
}

.c28 {
    font-style: italic
}

.c41 {
    color: #434343
}

.c24 {
    background-color: #f4cccc
}

.c51 {
    margin-right: -18pt
}

.c34 {
    margin-right: -27pt
}

.c40 {
    margin-right: -36pt
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 32pt;
    color: #000000;
    font-weight: 700;
    font-size: 20pt;
    padding-bottom: 18pt;
    font-family: "Arial";
    line-height: 1.149999976158142;
    text-align: left
}

h2 {
    padding-top: 29.2pt;
    color: #000000;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 17.2pt;
    font-family: "Arial";
    line-height: 1.149999976158142;
    text-align: left
}

h3 {
    padding-top: 28pt;
    color: #434343;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.149999976158142;
    text-align: left
}

h4 {
    padding-top: 26.8pt;
    color: #666666;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 16.8pt;
    font-family: "Arial";
    line-height: 1.149999976158142;
    text-align: left
}

h5 {
    padding-top: 24.8pt;
    color: #666666;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 16.8pt;
    font-family: "Arial";
    line-height: 1.149999976158142;
    text-align: left
}

h6 {
    padding-top: 30pt;
    color: #666666;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 22pt;
    font-family: "Arial";
    line-height: 1.149999976158142;
    font-style: italic;
    text-align: left
}

.page-break {
    page-break-before: always;
}

@media print {
    .page-break {
        page-break-before: always;
    }
}

.pdf-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url('./images/AppointmentLetterBGLogo.jpg') no-repeat center;
  background-size: 60%;

  opacity: 0.1;
  z-index: 0;
}

body {
  margin: 0;
  padding: 0;
}
