<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="./AppontmentLetterscript.css">
</head>

<body class="c61 doc-content">
    <!-- ================= PAGE 1 ================= -->

    <div class="page">

        <div>
            <p class="c16"><span style="overflow: hidden; display: inline-block;">
                    <img src="images/image1.png"
                        style="width:113.85px; height:82.59px; margin-left:15px; margin-top:5px;">
                </span>
            </p>
        </div>
        <p class="c56"><span class="c35 c48">OFFER LETTER</span></p>
        <p class="c16 c40"><span class="c11">&lt;&lt;[Document Id]&gt;&gt;</span><span class="c35">&nbsp; &nbsp;
                &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;</span><span class="c11">&nbsp; &lt;&lt;[Date]&gt;&gt;</span><span class="c13 c22">&nbsp;
            </span></p>
        <p class="c16 c40"><span class="c13 c22">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
        <p class="c16"><span class="c13 c22">&lt;&lt;[Employee
                Name]&gt;&gt;,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </p>
        <p class="c16"><span class="c1">+91 &lt;&lt;[Phone number]&gt;&gt;,</span></p>
        <p class="c16"><span class="c7 c55">&lt;&lt;[Mail id]&gt;&gt;</span></p>
        <p class="c16 c6"><span class="c13 c22"></span></p>
        <p class="c16"><span class="c13 c11">Subject: Offer of Employment for the Position of
                &lt;&lt;[Designation]&gt;&gt;</span></p>
        <p class="c16 c6"><span class="c13 c22"></span></p>
        <p class="c16"><span class="c13 c11">Dear &lt;&lt;[Data status]&gt;&gt;, &lt;&lt;[Employee
                Name]&gt;&gt;</span></p>
        <p class="c16 c6"><span class="c13 c45"></span></p>
        <p class="c16"><span class="c13 c11">Congratulations!!</span></p>
        <p class="c16 c6"><span class="c13 c45"></span></p>
        <p class="c16 c27"><span class="c7">We are delighted to extend an offer of employment to you for the
                position of
            </span><span class="c11">&lt;&lt;[Designation]&gt;&gt; </span><span class="c7">at </span><span
                class="c11">(&lt;&lt;[Location]&gt;&gt;) </span><span class="c7">with Infonet Comm Enterprises.
                You
                are
                required to join on or before the </span><span class="c11">&lt;&lt;[DOJ]&gt;&gt;</span><span
                class="c1">.</span></p>
        <p class="c16 c6"><span class="c1"></span></p>
        <p class="c16 c34"><span class="c7">Annual Cost to the Company: </span><span class="c11">Rs.&lt;&lt;[Fixed
                CTC]&gt;&gt;-/-</span><span class="c1">&nbsp;( Rs. &lt;&lt;[Gross Pay In words]&gt;&gt; ). A
                detailed
                breakup is provided in the annexure for your reference. In addition to the competitive salary
                package, you
                will enjoy various benefits and privileges as part of your employment with us. </span></p>
        <p class="c16 c34"><span class="c1">These include:</span></p>
        <p class="c6 c16"><span class="c1"></span></p>
        <p class="c16"><span class="c12 c48 c50">Section - A</span></p>
        <p class="c16 c6"><span class="c1"></span></p>
        <p class="c16"><span class="c7">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                class="c11">Gratuity</span><span class="c1">: Employee will be eligible for Gratuity, on
                separation
                after
                Five years of continuous service, payable as per Payment of Gratuity Act 1972. </span></p>
        <p class="c16 c6"><span class="c1"></span></p>
        <p class="c16 c51"><span class="c7">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                class="c11">Leave
                Program</span><span class="c1">: Generous leave allowances including statutory holidays, sick
                leave,
                casual
                leave, and earned leave.</span></p>
        <p class="c16 c6"><span class="c13 c45"></span></p>
        <table class="c33">
            <tr class="c8">
                <td class="c46" colspan="1" rowspan="1">
                    <p class="c30"><span class="c13 c11">Statutory Holidays</span></p>
                </td>
                <td class="c14" colspan="1" rowspan="1">
                    <p class="c30"><span class="c13 c11">12 days per annum</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c5 c62" colspan="1" rowspan="1">
                    <p class="c3"><span class="c15 c13">Sick Leave (SL)</span></p>
                </td>
                <td class="c9" colspan="1" rowspan="1">
                    <p class="c39"><span class="c7">A maximum of 7 days per annum Based on your DOJ (cannot be
                            carry
                            forwarded to next calendar year )</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c3"><span class="c15">Casual Leave (CL)</span></p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c39"><span class="c7">A maximum of 7 days per annum Based on your DOJ (cannot be
                            carry
                            forwarded to next calendar year)</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c3"><span class="c15">Earned Leave (EL)</span></p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c39"><span class="c7">A maximum of 12 days per annum (can be carry forwarded to
                            next
                            calendar
                            year)</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c5" colspan="1" rowspan="1">
                    <p class="c3"><span class="c15">Maternity leave (ML)</span></p>
                </td>
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c39"><span class="c1">26 weeks (182 days) The employee should have worked for at
                            least
                            days in
                            the 12 months preceding the expected delivery date.</span></p>
                </td>
            </tr>
        </table>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c36"><span class="c12">Note:</span><span class="c35">&nbsp;</span><span class="c1">All the
                above-mentioned
                Section &ndash; A benefits are subjected to change by employer from time to time.</span></p>
        <p class="c3 c6"><span class="c1"></span></p>

        <div>
            <p class="c47"><span class="c57">&nbsp;</span><span class="c57 c31 c60">INFONET COMM ENTERPRISES PVT
                    LTD</span>
            </p>
            <p class="c47"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registered Office : </span><span
                    class="c13 c23">TS.137, TVK Industrial Estate, Ekkattuthangal, Guindy, Chennai-600032.
                    &nbsp;</span></p>
            <p class="c47 c40"><span class="c35 c31 c54">&nbsp;</span><span class="c23 c31">Head Office
                </span><span class="c13 c23">: 468/10, Balaji Nagar, Tiruchengode Road, Near Collector Office,
                    Namakkal
                    -637003.
                    info@infonetcomm.com, www.infonetcomm.com</span></p>
            <p class="c6 c43"><span class="c10"></span></p>
            <hr>
            <p class="c43 c6 c40"><span class="c10"></span></p>
            <p class="c43 c6"><span class="c10"></span></p>
            <p class="c49"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="c23">ISO 9001:2015, ISO
                    27001: 2013,
                    CIN No: U72200TN1999PTC136457, GST No: 33AACCM8749D1ZH, Customer Care: +91 8100 700
                    900</span>
            </p>
            <p class="c16 c6"><span class="c13 c20"></span></p>
        </div>
    </div>

    <!-- <div class="page-break"></div> -->
    <div class="page">
        <div class="pdf-bg"></div>
        <div>
            <p class="c16"><span style="overflow: hidden; display: inline-block;">
                    <img src="images/image1.png"
                        style="width:113.85px; height:82.59px; margin-left:15px; margin-top:5px;">
                </span></p>
        </div>
        <p class="c25"><span class="c12 c50 c48">Section - B</span></p>
        <p class="c6 c25"><span class="c12 c44"></span></p>
        <p class="c2"><span class="c7">1. &nbsp; &nbsp; &nbsp; &nbsp; You will be under </span><span
                class="c11">Probation</span><span class="c7">&nbsp;for a period of </span><span class="c11">Six
                months</span><span class="c1">&nbsp;from the date of joining duty and your services will be
                confirmed after
                that.</span></p>
        <p class="c2"><span class="c7">&nbsp;2. &nbsp; &nbsp; &nbsp; Working days will be </span><span class="c11">Six
                days
                (Monday to Saturday)</span><span class="c7">&nbsp;in a week; </span><span class="c11">Sunday</span><span
                class="c1">&nbsp;will be a Weekly Holiday. This is subject to any
                change that may come into force in the
                future.</span></p>
        <p class="c37"><span class="c7">&nbsp;3. &nbsp; &nbsp; Work Hours: As an employee, you are expected to work
                for a
                total of </span><span class="c11">8 hours per day</span><span class="c7">, </span><span
                class="c11">excluding break hours. </span><span class="c1">&nbsp;</span></p>
        <p class="c2"><span class="c7">&nbsp;4. &nbsp; During the Probation Period, you will be eligible for
            </span><span class="c11">one day leave</span><span class="c1">&nbsp;for every month, and after
                confirmation, your leave
                eligibility will be as per the company&rsquo;s leave policy.</span></p>
        <p class="c2"><span class="c7">&nbsp;5. &nbsp; &nbsp;During the Probation period, if you are absent for more
                than
            </span><span class="c11">two continuous days</span><span class="c1">&nbsp;without any intimation to your
                immediate head, your services will be terminated without any notice.</span></p>
        <p class="c2"><span class="c7">6. &nbsp; &nbsp; &nbsp; During the Probation period, this employment may be
                terminated by either party giving </span><span class="c11">one-month</span><span class="c1">&nbsp;prior
                notice to the other party.</span></p>
        <p class="c2"><span class="c7">7. &nbsp; &nbsp; After the Completion of the probation period, the employment
                may be
                terminated by either party giving </span><span class="c11">One or</span><span
                class="c7">&nbsp;</span><span class="c11">Two Months</span><span class="c7">&nbsp;prior notice to
                the other party based on employee grade.
                During the notice period, you will be discharging your duties in your capacity and eligible for
                salary and
                other emoluments as a regular full-time employee. In the event termination by </span><span
                class="c11">Infonet Comm</span><span class="c1">, the company can either provide a notice of two
                months or
                relieve earlier with the due notice pay.</span></p>
        <p class="c52 c58"><span class="c7">&nbsp;8. &nbsp; &nbsp; &nbsp; &nbsp;If the Employee wishes to terminate
                their
                employment before the completion of the agreed-upon notice period, they may choose to exercise the
            </span><span class="c11">buyout option</span><span class="c7">. Under this option, the </span><span
                class="c11">Employee may pay the company an amount equivalent to the remaining notice period salary
                in lieu
                of serving the notice</span><span class="c7">. The buyout amount will be calculated based on the
                Employee&#39;s last drawn salary, and the </span><span class="c13 c11">buyout terms will be mutually
                agreed
                upon at the time of exercising this option. The company reserves the right to approve or deny the
                buyout
                request, depending on business requirements and operational needs.</span></p>
        <p class="c2"><span class="c1">9. &nbsp; &nbsp; You will be required to execute Confidentiality Agreement,
                Terms and
                Conditions of Employment, Code of Conduct and such other documents/undertakings/agreements as may be
                required by Infonet Comm from time to time. </span></p>
        <p class="c2"><span class="c1">10. &nbsp; &nbsp;In case any employee leaves the Company within two years of
                joining
                then any Joining/Relocation bonus, Training cost will have to be reimbursed by the employee for the
                expenses
                incurred by the Company. </span></p>
        <p class="c2"><span class="c7">11. &nbsp; All information, papers, correspondence, etc., pertaining to
            </span><span class="c11">Infonet Comm </span><span class="c1">business activities, commercial,
                technical, or otherwise
                coming into your possession during your training period shall be treated with strict
                confidence.</span></p>
        <p class="c2 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <div>
            <p class="c47"><span class="c57">&nbsp;</span><span class="c57 c31 c60">INFONET COMM ENTERPRISES PVT
                    LTD</span>
            </p>
            <p class="c47"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registered Office : </span><span
                    class="c13 c23">TS.137, TVK Industrial Estate, Ekkattuthangal, Guindy, Chennai-600032.
                    &nbsp;</span></p>
            <p class="c47 c40"><span class="c35 c31 c54">&nbsp;</span><span class="c23 c31">Head Office </span><span
                    class="c13 c23">: 468/10, Balaji Nagar, Tiruchengode Road, Near Collector Office, Namakkal
                    -637003.
                    info@infonetcomm.com, www.infonetcomm.com</span></p>
            <p class="c6 c43"><span class="c10"></span></p>
            <hr>
            <p class="c43 c6 c40"><span class="c10"></span></p>
            <p class="c43 c6"><span class="c10"></span></p>
            <p class="c49"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="c23">ISO 9001:2015, ISO
                    27001: 2013,
                    CIN No: U72200TN1999PTC136457, GST No: 33AACCM8749D1ZH, Customer Care: +91 8100 700 900</span>
            </p>
            <p class="c16 c6"><span class="c13 c20"></span></p>
        </div>

    </div>


    <!-- <div class="page-break"></div> -->
    <div class="page">
        <div class="pdf-bg"></div>
        <p class="c2 c6"><span class="c1"></span></p>
        <div>
            <p class="c16"><span style="overflow: hidden; display: inline-block;">
                    <img src="images/image1.png"
                        style="width:113.85px; height:82.59px; margin-left:15px; margin-top:5px;">
                </span></p>
        </div>
        <p class="c2"><span class="c7">12. &nbsp; &nbsp; &nbsp;You have been appointed on the presumption that the
                particulars furnished in your application and resume are correct. In the event the said particulars
                are
                found to be incorrect or that you have concluded or withheld some other relevant facts, your
                appointment
                with</span><span class="c11">&nbsp;Infonet Comm</span><span class="c1">&nbsp;shall stand
                terminated/cancelled without any notice.</span></p>
        <p class="c2"><span class="c7">13. &nbsp; &nbsp; &nbsp;The Employee acknowledges and agrees that their
                performance
                will be regularly reviewed as part of the company&rsquo;s performance management system.
            </span><span class="c11">In the event that the Employee does not meet or achieve their defined targets
                for three
                consecutive months, the Employee will be considered for the Performance Improvement Plan
                (PIP).</span><span class="c1">&nbsp;The PIP will involve a formal discussion between the Employee
                and the management, where
                specific performance goals and improvement targets will be outlined. If the Employee fails to meet
                the
                performance expectations set during the PIP, further action may be taken, which could include
                reassignment,
                extension of probationary period, or termination of employment, based on the company&rsquo;s
                policies and
                the nature of the underperformance. </span></p>
        <p class="c2 c6"><span class="c1"></span></p>
        <p class="c38"><span class="c12 c50 c48">Section &ndash; C</span></p>
        <p class="c42"><span class="c1">The below list of documents is to be submitted on the day of your joining.
                Please
                bring one photocopy of each document.</span></p>
        <p class="c42"><span class="c13 c11">Credentials (All documents mentioned below)</span></p>
        <p class="c42 c6"><span class="c13 c26"></span></p>
        <ul class="c59 lst-kix_qexfuy5qv51n-0 start">
            <li class="c21 c3 li-bullet-0"><span class="c1">SSC, HSC Mark Sheet</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Graduation Mark Sheets (All semester) &amp; Degree
                    Certificate</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Master&rsquo;s Mark Sheets (All semester) &amp; Degree
                    Certificate</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Diploma Mark Sheet (All semester) &amp; Diploma
                    Certificate</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Other Relevant Mark Sheets &amp; Certificates.</span>
            </li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Previous company&rsquo;s offer Letter, Appointment
                    Letter,
                    Salary revision letter.</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Previous Company&rsquo;s Relieving and Experience
                    letters.</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Previous Company&#39;s latest 3 months&rsquo; salary
                    slips.</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Identity proof (All documents mentioned below)</span>
            </li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Driving License/Unique ID Card/Election Card</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">KYC Documents (PAN &amp; Aadhaar Card)</span></li>
            <li class="c3 c21 li-bullet-0"><span class="c1">School leaving Certificate (OR) Birth
                    Certificate.</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Copy of PF Passbook.</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">3 passport-size photographs.</span></li>
            <li class="c21 c3 li-bullet-0"><span class="c1">Form &ndash; 16.</span></li>
        </ul>
        <p class="c16"><span class="c13 c45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <div>
            <p class="c47"><span class="c57">&nbsp;</span><span class="c57 c31 c60">INFONET COMM ENTERPRISES PVT
                    LTD</span>
            </p>
            <p class="c47"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registered Office : </span><span
                    class="c13 c23">TS.137, TVK Industrial Estate, Ekkattuthangal, Guindy, Chennai-600032.
                    &nbsp;</span></p>
            <p class="c47 c40"><span class="c35 c31 c54">&nbsp;</span><span class="c23 c31">Head Office </span><span
                    class="c13 c23">: 468/10, Balaji Nagar, Tiruchengode Road, Near Collector Office, Namakkal
                    -637003.
                    info@infonetcomm.com, www.infonetcomm.com</span></p>
            <p class="c6 c43"><span class="c10"></span></p>
            <hr>
            <p class="c43 c6 c40"><span class="c10"></span></p>
            <p class="c43 c6"><span class="c10"></span></p>
            <p class="c49"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="c23">ISO 9001:2015, ISO
                    27001: 2013,
                    CIN No: U72200TN1999PTC136457, GST No: 33AACCM8749D1ZH, Customer Care: +91 8100 700 900</span>
            </p>
            <p class="c16 c6"><span class="c13 c20"></span></p>
        </div>

    </div>


    <!-- <div class="page-break"></div> -->
    <div class="page">
        <div class="pdf-bg"></div>
        <div>
            <p class="c16"><span style="overflow: hidden; display: inline-block;">
                    <img src="images/image1.png"
                        style="width:113.85px; height:82.59px; margin-left:15px; margin-top:5px;">
                </span></p>
        </div>
        <p class="c3 c52"><span class="c12">Section - D</span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <table class="c33">
            <tr class="c8">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Basic</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[Basic]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">HRA</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[HRD]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Other Allowance </span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[Other Allowance]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18 c32" colspan="1" rowspan="1">
                    <p class="c4"><span class="c11 c13">Gross Salary </span></p>
                </td>
                <td class="c19 c32" colspan="1" rowspan="1">
                    <p class="c4"><span class="c11">Rs:&lt;&lt;[Gross Salary A]&gt;&gt;</span><span
                            class="c7">&nbsp;</span><span class="c13 c11">/-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">ESI - Employee</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[ESI - Employee]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">PF - Employee</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[PF - Employee]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Insurance</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[INSURANCE]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Total Deduction </span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[Total Deduction]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18 c32" colspan="1" rowspan="1">
                    <p class="c4"><span class="c13 c11">Net Pay</span></p>
                </td>
                <td class="c19 c32" colspan="1" rowspan="1">
                    <p class="c4"><span class="c13 c11">Rs:&lt;&lt;[Take Home]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">ESI - Employer</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[ESI - Employer]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">PF - Employer</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[PF - Employer]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Total Deduction</span></p>
                </td>
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[Total Deduction B]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c17">
                <td class="c18 c32" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">CTC</span></p>
                </td>
                <td class="c19 c32" colspan="1" rowspan="1">
                    <p class="c4"><span class="c1">Rs:&lt;&lt;[CTC]&gt;&gt; /-</span></p>
                </td>
            </tr>
            <tr class="c29">
                <td class="c18 c24" colspan="1" rowspan="1">
                    <p class="c4"><span class="c13 c11">Annual CTC</span></p>
                </td>
                <td class="c19 c24" colspan="1" rowspan="1">
                    <p class="c4"><span class="c13 c11">Rs:&lt;&lt;[Fixed CTC]&gt;&gt; /-</span></p>
                </td>
            </tr>
        </table>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3"><span class="c1">I have read and understood the terms and conditions of this offer letter. I
                accept
                the above offer with the said terms and conditions.</span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3"><span class="c11">For Infonet Comm Enterprises, &nbsp;</span><span class="c7">&nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="c13 c11">&nbsp;
                Candidate Name &amp; Signature</span></p>
        <p class="c3"><span
                style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 190.41px; height: 41.50px;"><img
                    alt="" src="images/image2.png"
                    style="width: 190.41px; height: 41.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span></p>
        <p class="c3"><span class="c11 c41">Ravikumar Chinnusamy, </span><span class="c13 c11">&nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
        </p>
        <p class="c3"><span class="c13 c11">Managing Director. </span></p>
        <p class="c3 c6"><span class="c13 c11"></span></p>
        <p class="c3 c6"><span class="c1"></span></p>
        <p class="c3"><span class="c7">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*</span><span
                class="c7 c28">\\ This is Automatic System Generated Letter //*</span><span class="c1">&nbsp;</span>
        </p>
        <div>
            <p class="c47"><span class="c57">&nbsp;</span><span class="c57 c31 c60">INFONET COMM ENTERPRISES PVT
                    LTD</span>
            </p>
            <p class="c47"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registered Office : </span><span
                    class="c13 c23">TS.137, TVK Industrial Estate, Ekkattuthangal, Guindy, Chennai-600032.
                    &nbsp;</span></p>
            <p class="c47 c40"><span class="c35 c31 c54">&nbsp;</span><span class="c23 c31">Head Office </span><span
                    class="c13 c23">: 468/10, Balaji Nagar, Tiruchengode Road, Near Collector Office, Namakkal
                    -637003.
                    info@infonetcomm.com, www.infonetcomm.com</span></p>
            <p class="c6 c43"><span class="c10"></span></p>
            <hr>
            <p class="c43 c6 c40"><span class="c10"></span></p>
            <p class="c43 c6"><span class="c10"></span></p>
            <p class="c49"><span class="c23 c31">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span class="c23">ISO 9001:2015, ISO
                    27001: 2013,
                    CIN No: U72200TN1999PTC136457, GST No: 33AACCM8749D1ZH, Customer Care: +91 8100 700 900</span>
            </p>
            <p class="c16 c6"><span class="c13 c20"></span></p>
        </div>

    </div>

</body>

</html>